.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-group>button {
  margin-right: 10px;
  text-align: right;
}

.button-group {
    margin: 5px;
    text-align: right;
}

.container>div>div {
  width: 400px;
}

.selectDiv>div>div {
  width: 100px;
}

.inlineDiv {
  display: inline-flex;
}

.selectStyle {
  border: none;
  width: 100px;
}

.quote {
  margin: 10px;
}

.show-select-master {
  z-index: 9999999;
}

.hide-select-master {
  z-index: 1;
}

.status-button {
  margin: 2px;
  border-radius: 0rem;
  cursor: pointer;
}

.active-status-button {
  background-color: #86d555;
  color: white;
}

.main-div {
  margin: 5px;
}

.title-margin {
  margin-top: 10px;
}

.title-margin-date {
  margin-top: 5px;
}
.help-block {
  color: #cb2c15;
}

.login-form {
  margin-left: 40%;
  margin-right: 40%;
}
.login-div {
  width: 100%;
}

.react-calendar__navigation button {
  min-width: 24px !important;
}

.react-calendar{
  background-color: rgba(79, 88, 87, 0.54) !important;
  margin-bottom: 10px;
  -webkit-box-shadow:0px 1px 1px #de1dde;
  -moz-box-shadow:0px 1px 1px #de1dde;
  box-shadow:0px 1px 1px #a972a9;
}

time, .react-calendar__navigation__arrow, .react-calendar__navigation__label, .react-calendar__month-view__weekdays__weekday{
  color: white;
}