.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-group>button {
  margin-right: 10px;
  text-align: right;
}

.button-group {
    margin: 5px;
    text-align: right;
}

.inlineDiv {
  display: inline-flex;
}

.selectStyle {
  border: none;
  width: 100px;
}

.quote {
  margin: 10px;
}

.show-select-master {
  z-index: 9999999;
}

.hide-select-master {
  z-index: 1;
}

.status-button {
  margin: 2px;
  border-radius: 0rem;
  cursor: pointer;
}

.active-status-button {
  background-color: #86d555;
  color: white;
}

.main-div {
  margin: 5px;
}

.title-margin {
  margin-top: 10px;
}

.title-margin-date {
  margin-top: 5px;
}
.help-block {
  color: #cb2c15;
}

.login-form {
  margin-left: 40%;
  margin-right: 40%;
}
.login-div {
  width: 100%;
}

.react-calendar__navigation button {
  min-width: 24px !important;
}

.react-calendar{
  background-color: rgba(79, 88, 87, 0.54) !important;
  margin-bottom: 10px;
  -webkit-box-shadow:0px 1px 1px #de1dde;
  -moz-box-shadow:0px 1px 1px #de1dde;
  box-shadow:0px 1px 1px #a972a9;

  border: none !important;
  font-size: 10px !important;

}

time, .react-calendar__navigation__arrow, .react-calendar__navigation__label, .react-calendar__month-view__weekdays__weekday{
  color: white;
}

#root{
  height: auto;
}

.div-side-nav {
  height: auto;
}

.rbc-row-content {
  display: none;
}
.rbc-timeslot-group{
  min-height: 30px;
}

.rbc-day-slot .rbc-event-content {
  font-size: 8pt;
}

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  border-color: hsl(0,0%,80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.list-group-item {
  padding: 5px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid;
}

.add-service-button {
  height: 30px;
  margin-top: 30px;
  cursor: pointer;
}

main {
  padding-left: 190px;
}

nav {
  width: 180px;
  min-width: 190px !important;
  color: white;
}

.react-calendar__tile {
  padding: 5px 5px !important;
}

.sidenav---sidenav---_2tBP {
  background: #2b4f3e !important;
}

.modal-div {
  padding-left: 190px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  cursor: pointer;
  color: #0e17a4;
}

.styles_modal__gNwvD {
  max-width: 1100px;
}

.time-slot-menu {
  border-right: 1px solid #a19a9a;
}

.time_slot_modal {
  width: 1000px;
}

.btn-primary {
  background-color: #9c9e9f;
  border: none;
  border-radius: 0px;
}

.btn-primary:hover {
  box-shadow: 1px 2px #888888;
  background-color: #1c9f88;
  border-radius: 0px;
}

body {
  background-color: #e4e4e1;
}

.table-bordered td, .table-bordered th {
  border: 1px solid black;
}

.table-bordered thead td, .table-bordered thead th {
  border: 1px solid black;
}

th {
  border: 1px solid black !im;
}

.rbc-calendar {
  background-color: #cecec8;
}

.rbc-time-content > .rbc-time-gutter {
  background-color: #cecec8;
}

.rbc-time-view-resources .rbc-time-gutter, .rbc-time-view-resources .rbc-time-header-gutter {
  background-color: #cecec8;
}

.rbc-time-content > .rbc-day-slot {
  background-color: #e1e1dc;
  border-right: 1px solid #9d9696;
}

.page-item.active .page-link {
  background-color: #9c9e9f;
  border: none;
  border-radius: 0px;
}

.DayPickerInput>input {
  background-color: #b4a2a2 !important;
  color: white !important;
}

h2 {
  font-style: italic;
}

.react-calendar__tile--active {
  background: #90989f !important;
}

.styles_overlay__CLSq- {
  padding-left: 210px;
}

.add-expense-button {
  height: 30px;
  cursor: pointer;
}

.btn.focus, .btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(173, 175, 178, 0.25);
}